.custom-video {
  min-height: 100vh;
  background-color: @background-two;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: center;
  justify-items: center;
  grid-gap: 33px;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-gap: 62px;
  }

  @media (min-width: @desctope-width) {
    grid-gap: 66px;
  }
}

.custom-video__description {
  padding: 0 26px;
}

.player {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    max-width: 800px;
  }

  @media (min-width: @desctope-width) {
    max-width: 1000px;
  }
}

.player__video {
  width: 100%;
  height: 201px;

  &[poster] {
    height: 100%;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    height: 500px;
  }
}

//controls block
.player__controls {
  position: absolute;
  bottom: -66px;
  left: 0;
  right: 0;
  height: 66px;
  width: calc(100% - 40px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 20px;
  background-color: rgba(000, 000, 000, 0.6);

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 93px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

//input type range, status bar
.player__status-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 33px;
  top: -45px;
  left: 0;
  right: 0;
  height: 45px;
  background: rgba(000, 000, 000, 0.6);

  @media (min-width: @tablet-width) {
    flex-grow: 2;
    position: static;
    background: transparent;
    height: auto;
  }
}

.player__status-bar {
  width: 100%;
}

//controls buttons
.video-btn { //standart style for controls buttons
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.player__play {
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

.player__stop { //for player__play, toogle in js file
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M6 19h4V5H6v14zm8-14v14h4V5h-4z'/%3E%3C/svg%3E ");
}

.player__other-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player__time {
  text-align: center;
  margin-right: 20px;
  font-size: 22px;
  color: @standart-white;
}

.player__replay {
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3Crect fill='none' height='24' width='24'/%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cg/%3E%3Cpath d='M12,5V1L7,6l5,5V7c3.31,0,6,2.69,6,6s-2.69,6-6,6s-6-2.69-6-6H4c0,4.42,3.58,8,8,8s8-3.58,8-8S16.42,5,12,5z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}
