.custom-video {
  min-height: 100vh;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  display: grid;
  grid-template-rows: min-content min-content;
  grid-gap: 33px;
  width: 100%;

  /*@media (min-width: @tablet-width) {
    max-width: 648px;
    grid-gap: 62px;
  }

  @media (min-width: @desctope-width) {
    max-width: 800px;
    grid-gap: 66px;
  }*/
}

.video-player__description {
  padding: 0 26px 0 26px;
}

.video-player__title {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;

  /*@media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }*/
}

.video-player__subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
