.nav {
  width: 100%;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(5, 110px);
  grid-column-gap: 20px;
}

.nav__elem {
  list-style: none;
}

.nav__link {
  color: @standart-black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.9;
    text-decoration: underline solid 2px;
  }
}
