.nav {
  width: min-content;
  //position: relative;
}

//burger button
.nav__btn{
  //display: none;
  position: relative;
  width: 80px;
  height: 80px;
  transition: all 0.5s ease-in-out;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;

  /*@media (max-width: @tablet-width) {
    display: block;
  }*/
}

.nav__btn--open .nav__btn-burger {
  transform: translateX(-50px);
  background: transparent;
}

.nav__btn--open .nav__btn-burger::before {
  transform: rotate(-45deg) translate(35px, -35px);
}

.nav__btn--open .nav__btn-burger::before {
  transform: rotate(45deg) translate(35px, 35px);
}

.nav__btn-burger {
  display: inline-block;
  width: 50px;
  height: 6px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 50px;
    height: 6px;
    background-color: #000;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  &::after {
    transform: translate(-50%, -16px;)
  }

  &::before {
    transform: translate(-50%, 16px);
  }
}

//navigation list and items
.nav__list {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 20px;

  @media (max-width: @tablet-width) {
    display: none;
  }
}

.nav__elem {
  list-style: none;
}

.nav__link {
  color: @standart-black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.9;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: tomato;
  }

  &:active {
    opacity: 0.7;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: tomato;
  }
}
