.scrollup {
  position: fixed;
  right: 25px;
  bottom: 60px;

  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;

  &--open {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    pointer-events: visible;
  }
}

.scrollup__btn {
  width: 65px;
  height: 65px;
  border: none;
  background-color: tomato;
}
