@standart-black: #000000;
@standart-white: #ffffff;
@background-grey: #DCDCDC;
@decor-lines: #CCFFCC;
@slider-bg: #F5F5F5;


//width
@desctope-width: 1200px;
@tablet-width: 900px;
@mobile-width: 600px;
